lazy-lock.json
.DS_Store

packages/zsh/.zsh/*
!.zprofile
!.zshrc
!.zshrc_*
!.zshrc.private
!.p10k.zsh

# AeroSpace private config
packages/aerospace/.config/aerospace/aerospace.toml
packages/aerospace/.config/aerospace/aerospace-local.toml
